/* Cores de fundo diferentes por página */
.pagina-sobre {
  background-color:rgba(5, 175, 82, 0.986) /* azul claro */
}

.pagina-formacao {
  background-color: rgba(190, 72, 72, 0.616)  /* laranja claro */
}

.pagina-portfolio {
  background-color: rgba(247, 117, 70, 0.685); /* verde claro */
}

.pagina-contato {
  background-color: pink /* rosa claro */
}
p{margin-left:  60px;
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 23px;
}

ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
    }

ul li {
      margin: 0 80px;
    }

ul li a {
      font-size: 23px;
      text-decoration: none;
      color: black;
    }

h1 {
    text-align: center;
    position: relative;
    top: 0%; 
    font-size: 45px;
  }
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

