/* Cores de fundo diferentes por página */
.pagina-sobre {
  background-color:rgba(5, 175, 82, 0.986) /* azul claro */
}

.pagina-formacao {
  background-color: rgba(190, 72, 72, 0.616)  /* laranja claro */
}

.pagina-portfolio {
  background-color: rgba(247, 117, 70, 0.685); /* verde claro */
}

.pagina-contato {
  background-color: pink /* rosa claro */
}
p{margin-left:  60px;}



.borda-selecao{border: 3px solid #000000; /* borda vertical à esquerda */
  padding: 60px;             /* espaço interno da borda até o texto */
  width: 4%;
  list-style: none;               /* remove os marcadores */
  margin-top: 20px;
  margin-bottom: 50px;            /* espaçamento entre os itens da lista */ }
